.projects-section {
  padding-top: 100px;
  background-color: #fff;
  padding-bottom: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: background-color 0.3s;
}

.projects-section.dark-mode{
  background-color: grey;
}