/* Skills.css */
.skill-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 50px;
}

.skill-icon-container {
  margin-bottom: 10px;
}

.skill-icon {
  max-width: 50px;
  max-height: 50px;
}

.skill-name {
  font-size: 1rem;
}
