.home-section {
  background-color: #f9f9f9;
  padding-top: 120px;
  transition: background-color 0.3s;
}

.home-section p {
  font-size: 1.2rem;
}

.home-section.dark-mode {
  background-color: grey;
}

/* Dark mode text color */
.home-section.dark-mode .btn {
  color: white;
}

/* Dark mode text color for secondary button */
.home-section.dark-mode .btn-secondary {
  color: white;
}

.typewriter-container {
  font-size: 1.2rem; /* Adjust the font size as needed */
}
