.contact-section {
  background-color: #f9f9f9;
}

.contact-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  padding: 20px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info strong {
  font-weight: bold;
  margin-right: 10px;
}
