.work-section {
  background-color: #f9f9f9;
  padding-top: 100px;
}

.work-section .card {
  border-radius: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.card.expanded {
  width: 100%;
  opacity: 1;
}

.click-to-expand {
  color: #888;
  opacity: 0.7;
}

.company-logo {
  max-width: 100px; /* Adjust the max width as needed */
  max-height: 80px; /* Adjust the max height as needed */
  object-fit: contain; /* This property maintains the aspect ratio */
}
